body {
    background: grey;
    font-family: sans-serif;
}
div {
    display: block;
    border-radius: 10px;
    margin: 30px 100px 30px 100px;
    padding: 20px;
    padding-bottom: 20px;
    background-color: white;
}

#b1,#b2,#b3{
    
    border-radius: 30px;
    border-color: transparent;
    height: 38px;
    width: 105px;
    color: white;
}
#b1{
    background-color: rgb(54, 134, 54);
}
#b1:hover {
    cursor: pointer;
}

#b2{
    background-color: rgb(145, 85, 8);
}

#b2:hover {
    cursor: pointer;
}

#b3{
    background-color: darkorchid;
}

#b3:hover {
    cursor: pointer;
}